<a href="https://colab.research.google.com/github/NirajVishwa/python/blob/main/basics_of_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
#this is used for single line comment

In [ ]:
"""this 
is 
used for multi line
comments
"""

'this \nis \nused for multi line\ncomments\n'

In [ ]:
print("""this print is used for multi
line 
print""")

this print is used for multi
line
print

In [ ]:
#repl is simple multiplication which can done in python terminal

In [ ]:
a=30 #where a is variable whih contains value 30
a

30

In [ ]:
#keyword are predefine variable in python
#variable are used define

In [ ]:
"""data types
interger eg 30,40
string eg the,all 
boolen eg True False
none its used for None
float for decimal no eg 10.1"""

'data types\ninterger eg 30,40\nstring eg the,all \nboolen eg True False\nnone its used for None\nfloat for decimal no eg 10.1'

In [ ]:
a=30  #interger
b="hello" #string
c="""the 
all
is""" #this used for multi line string
c=True
d=None
e=10.3
print(a)
print(type(a))
print(b)
print(type(b))
print(c)
print(type(c))
print(d)
print(type(d))
print(e)
print(type(e))

30
<class 'int'>
hello
<class 'str'>
True
<class 'bool'>
None
<class 'NoneType'>
10.3
<class 'float'>

In [ ]:
#variable can start with alphabets and "_"
#variable cant start with number
#varible cant contain special characters except "_"
#variable number can be used for creating variables
#space cant be used in variable
#python is case sensitive it will treat a and A as different

In [ ]:
# types operators 
"""arithmetic operators: +,-,* and / 
assignments operators :=,+=,-=,*= and /=
comparsion operators : ==,<,<=,>,>= and != this any gives values True and False
logical operators and(&&) or(||) and not
"""

'arithmetic operators: +,-,* and / \nassignments operators :=,+=,-=,*= and /=\n'

In [ ]:
a=5
a+=5#a=a+5
print(a)
a-=5#a=a-5
print(a)
a*=5#a=a*5
print(a)
a/=5#a=a/5
print(a)

10
5
25
5.0

In [ ]:
print(a==4)
print(a<4)
print(a<=4)
print(a>4)
print(a>=4)
print(a!=4)

False
False
False
True
True
True

In [ ]:
a=True
b=False
print(a and b)
print(a or b)
print(not b)

False
True
True

In [ ]:
#type casting
a="345"
print(type(a))
b=int(a)#for converting into integer
print(type(b))
c=str(b)#for converting into string
print(type(c))
d=float(a)#for converting into float
print(type(d))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
#input function
a=input("enter any thing")#input is used to take value from user and it will take every input as str
print(type(a))
print(a)

enter any thing34
<class 'str'>
34

In [ ]:
#string
a='hello'#single quoted string
print(a)
b="hello1"#double quoted string
print(b)
c='''hello2'''#triple quoted string
print(c)
print(len(a))#for getting length
#index starts from 0
print(a[0])#for getting first element
print(a+b)#concatenating(adding) to two element
print(a[0:2])#2 index element will be not printed
print(a[:1])#from starting to given index
print(a[2:])#from given index till last element
#negative index starts from 1
print(a[-1])
a="hello world"
print(a[1::2])#here 2 is skip every one element from start
print(a.count("o"))#for count word or letter
print(a.capitalize())#for getting first letter capital in sentence
print(a.endswith("world"))#it will gives true if sentence ends with the word else false
print(a.find("hello"))#it will the position of word we are finding else it willl return -1 its work any for first occurrence
print(a.replace("hello","with"))

hello
hello1
hello2
5
h
hellohello1
he
h
llo
o
el ol
2
Hello world
True
0
with world

In [ ]:
"""\n is used for print the output to next line
\t used for giving tab space
\\ is used to print \
\' is used for printing '
"""

"\n is used for print the output to next line\n\t used for giving tab space\n\\ is used to print ' is used for printing '\n"

In [ ]:
at=2.37

In [ ]:
t=int(input())
for i in range (t):
    x=int(input("enter the frequency :"))
    if x>=67 and x<=45000:
        print("yes")
    else:
        print("no")

1
enter the frequency :42
no

In [ ]:
t=int(input("\n"))
if 1<=t and t<=10:
    for i in range (t):
        x=int(input())
        y=int(input())
        if 50<=y and y<x and x<=200:
            print(x-y)

4
200
150
50
100
99
1
130
97
33
53
51
2